.App-header{
  height: 30px;
  background-color: lightslategrey;
}
.App-nav{
  height: 70px;
  background-color: lightsteelblue;
}
.App-items-list{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
padding: 12px;
}


.App-items{
height: 300px;
border: 1px solid gray;
width: 20%;
margin-bottom: 12px;
}

.App-items img{
  width: 100%;
}
.App-items-pagination{
 text-align: center;
 background-color: goldenrod;
 font-weight: bold;
 width: 50%;
 margin: 0 auto;
 padding: 12px;
 display: block;

}